amqp==2.4.2
astroid==1.6.5
autopep8==1.4.3
backports.functools-lru-cache==1.5
bandit==1.5.1
billiard==3.6.0.0
Brotli==1.0.7
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
configparser==3.7.4
coverage==4.5.3
dj-database-url==0.5.0
Django==1.11.20
django-extensions==2.1.6
django-filter==2.0.0
django-ratelimit==2.0.0
django-tastypie==0.14.2
djangorestframework==3.9.2
entrypoints==0.3
enum34==1.1.6
filelock==3.0.10
flake8==3.7.7
flamegraph==0.1
functools32==3.2.3.post2
gitdb2==2.0.5
GitPython==2.1.11
gunicorn==19.9.0
httpie==1.0.2
idna==2.8
isort==4.3.16
kombu==4.5.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
mpmath==1.1.0
pbr==5.2.0
pluggy==0.9.0
py==1.8.0
py-spy==0.1.10
pyactiveresource==2.1.2
pycallgraph==1.0.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pylint==1.9.4
python-dateutil==2.8.0
python-mimeparse==1.6.0
pytz==2018.9
PyYAML==5.1
requests==2.21.0
selenium==3.141.0
ShopifyAPI==5.0.1
singledispatch==3.4.0.3
six==1.12.0
smmap2==2.0.5
stevedore==1.30.1
toml==0.10.0
tox==3.9.0
typing==3.6.6
urllib3==1.24.1
vine==1.3.0
virtualenv==16.5.0
whitenoise==4.1.2
wrapt==1.11.1
